Django>=3.2.3,<3.3
psycopg2>=2.8.6,<2.9
uWSGI>=2.0.19.1,<2.1
asgiref==3.3.4
biopython==1.78
certifi==2020.12.5
chardet==4.0.0
coverage==5.5
django-autocomplete-light==3.8.2
django-background-tasks==1.2.5
django-compat==1.0.15
django-cors-headers==3.7.0
django-crispy-forms==1.11.2
django-tables2==2.3.4
django-tsvector-field==0.9.5
gunicorn==20.0.4
idna==2.10
pycparser==2.20
pytz==2021.1
requests==2.25.1
reverse==0.1.0
six==1.16.0
sqlparse==0.4.1
urllib3==1.26.5
whitenoise==5.2.0
Wikidata==0.7.0
wincertstore==0.2
xmltodict==0.12.0